---
import logo from "../../public/logo/santiago.jpg";
import Badge from "../components/Badge.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import SectionContainer from "../components/SectionContainer.astro";
import SocialPill from "../components/SocialPill.astro";
import BriefcaseIcon from "../components/icons/Briefcase.astro";
import CodeIcon from "../components/icons/Code.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import GitLabIcon from "../components/icons/GitLab.astro";
import LinkedinIcon from "../components/icons/Linkedin.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Portafolio de santiago - Desarrollador y Programador Web" description="portafolio de santiago desarrollador web y programador">
	<main class="px-4">
		<SectionContainer id="about" class="py-44 pb-32">
			<img class="rounded-full size-12 mb-4" src={logo.src} alt="foto de perfil" />
			<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
				Hola, Soy Santiago
				<a href="https://www.linkedin.com/in/santiago-everardo-orozco-carmona/" target="_blank" rel="noopener" class="flex justify-center items-center">
					<Badge>Disponible Para Trabajar</Badge>
				</a>
			</h1>
			<h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">Un entusiasta programador web con experiencia en proyectos que abarcan diversas tecnologías, como HTML, PHP, CSS, JavaScript, Bootstrap, MySQL, Go, Python (Django y Flask), y Laravel.</h2>

			<nav class="flex gap-4 mt-8 flex-wrap">
				<SocialPill href="https://www.linkedin.com/in/santiago-everardo-orozco-carmona/">
					<LinkedinIcon class="size-4 md:size-6" />
					LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/santiagoeor">
					<GitHubIcon class="size-4 md:size-6" />
					GitHub
				</SocialPill>
				<SocialPill href="https://gitlab.com/santiagoeor">
					<GitLabIcon class="size-4 md:size-6" />
					GitLab
				</SocialPill>
			</nav>
		</SectionContainer>

		<SectionContainer id="experience">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<BriefcaseIcon class="size-7" />
				Experiencia laboral
			</h2>
			<Experience />
		</SectionContainer>

		<SectionContainer id="projects">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<CodeIcon class="size-7" />
				Proyectos
			</h2>
			<Projects />
		</SectionContainer>
	</main>
</Layout>
