---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
    {
        date: "Actualmente..",
        title: "Freelance",
        description: `
        Estoy desarrollando un proyecto para un negocio, utilizando Laravel para el backend y Angular
         para el frontend. Mi enfoque se centra en crear una aplicación web moderna y eficiente, 
         aprovechando la robustez de Laravel y la dinámica interfaz de usuario de Angular.
        `,
        // link: "#",
    },
    {
        date: "Septiembre 2022",
        title: "Practicante En Desarrollo De Software",
        description: `
        En este desarrollo estuve implementando un lector de códigos Qr, 
        para registrar asistencias en las Aulas de clase.
        `,
    },
];
---

<ol class="relative border-s border-gray-200 ml-3">
    {
        EXPERIENCE.map((experience) => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience} />
            </li>
        ))
    }
</ol>
