---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
    {
        date: "Actualmente..",
        title: "Application UI",
        description: "muy buena",
        link: "#",
    },
    {
        date: "Marzo 2022",
        title: "Application UI",
        description: "muy buena",
    },
    {
        date: "Febrero 2022",
        title: "Application UI",
        description: "muy buena",
    },
    {
        date: "Enero 2022",
        title: "Application UI",
        description: "muy buena",
    },
];
---

<ol class="relative border-s border-gray-200 ml-3">
    {
        EXPERIENCE.map((experience) => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience} />
            </li>
        ))
    }
</ol>
